{% load template_filters %}
Prodotto: {{ product }}
<br><hr class="mt-0 mb-4">
Produttore:  {{ producer }}
<br><hr class="mt-0 mb-4">
Ingredienti:  {{ article_commodities }}
<br><hr class="mt-0 mb-4">

Prodotto: {{ product|get_item:'articolo'}}<br>
Produttore: {{ producer|get_item:'nome'}}<br>
<hr class="mt-0 mb-4">
<ul>
{% for key,value in product.items %}
{% if key == "id_produttore" %}
<li>Produttore:</li><ul> 
    {% for key,value in producer.items %}
        <li>{{ key }}: {{ value }}</li>
    {% endfor %}
</ul>
{% else  %}
    <li>{{ key }}: {{ value }}</li>
{% endif %}
{% endfor %}
<li>Ingredienti:<ul>
    {% for item in article_commodities %}
        <li>{{ item|get_item:'nome'}} - Fornitore: {{ suppliers, 'id'|get_elements_for_key_value:id_fornitore'}} </li>
    {% endfor %}
    </ul>
</ul>




