{% extends 'base.html' %}

{% load static %}
{% load template_filters %}
{% block content %}

{% comment %}
Prodotto: {{ product }}
<br><hr class="mt-0 mb-4">
Produttore:  {{ producer }}
<br><hr class="mt-0 mb-4">
Ingredienti:  {{ article_ingredients }}
<br><hr class="mt-0 mb-4">
Prodotto: {{ product|get_item:'nome'}}<br>
Produttore: {{ producer|get_item:'nome'}}<br>
{% endcomment %}


<div class="card mb-12" style="max-width: 1024px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'media/biscottone.png' %}" alt="..." width="100%" height="auto">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product|get_item:'nome'|capitalize}} {{ producer|get_item:'nome'|capitalize}}</h5>
          <p class="card-text">{{ product|get_item:'note' }}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Ingredienti
        </a>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          {% for item in article_ingredients %}
        {% with item|get_item:'id_fornitore' as id_fornitore %}    
        {% with 'id,'|add:id_fornitore as supplier_query %}
        <table class="table" style="width: 70%">
            <tbody>
                        {% with suppliers|get_elements_for_key_value:supplier_query as supplier %} 
                            <tr>
                                <td style="width: 25%">{{ item|get_item:'nome'|capitalize }}</td><td style="width: 25%"><a href="{% url 'single_supplier' name=supplier|get_item:'nome'|urlizespace %}">{{ supplier|get_item:'nome' }}</a></li</td><td style="width: 25%" >e mail: {{ supplier|get_item:'e-mail' }} </td><td style="width: 33%">( {{ supplier|get_item:'origine'}} )</td>
                            </tr>
                        {% endwith %}
            </tbody>               
        </table>
        {% endwith %}
        {% endwith %}
    {% endfor %}
        </div>
      </div>
    </div>
  </div>

  




{% endblock content %}



